{% extends "base.html" %}

{% block title %}
    {% if object %}
        商品編集
    {% else %}
        商品登録
    {% endif %}
{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <h2>
                {% if object %}
                    商品編集
                {% else %}
                    商品登録
                {% endif %}
            </h2>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">
                    {% if object %}
                        更新
                    {% else %}
                        登録
                    {% endif %}
                </button>
            </form>
        </div>
    </section>
{% endblock %}
